<!DOCTYPE html>
<html>
  <head>
    <title>App chat</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <!-- <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form> -->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>Room: <span id="roomName"></span></h3>
          <h4>Online Now</h4>
          <ul id="roomData"></ul>
        </div>
        <div class="col-md-9">
          <h3 id="info"></h3>
          <div id="messages">
            <ul id="messages_list"></ul>
          </div>
          <form id="chatForm">
            <div class="form-group">
              <div class="row">
                <div class="col-md 8">
                  <input
                    type="text"
                    class="form-control"
                    id="message"
                    autofocus
                    autocomplete="off"
                    placeholder="Your message"
                  />
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-8">
                      <button
                        type="submit"
                        class="btn btn-sm btn-block btn-info"
                        id="send"
                        style="height: 40px"
                      >
                        Send
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
